body{

    font-family: 'Lobster', cursive;
    
    font-family: 'Indie Flower', cursive;
    
    font-family: 'Dancing Script', cursive;
    
    font-family: 'Shadows Into Light', cursive;
    
    font-family: 'Rye', cursive;
}


