{% include "includs/secondBase.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<div class="imog">

    <div class="blow">
    <div class="flex">
        
        
        <div>
         <a href="{{ path('index_home')}}" class="linkk">Home</a>
    </div>
    <div class="firstText">
        <h1 class="firstTitl">Advice: 2</h1>
        <p class="secontPa">Don’t spend the <span>entire</span> year <br/>drunk and <span>making</span> 
            irreversible<br/> mistakes. <span>Mistakes</span> are good,<br/>
            don’t <span>get</span> me wrong,<br/> you need <span>them</span> in order to
            learn and grow.<br/> I am just <span>speaking</span> from experience<br/>
            when I say <span>that</span>  I wish I was told this<br/> as I entered 
            my <span>19th</span> year of living<br/> so that I <span>might</span> have made better<br/>
            decisions in <span>every</span> aspect of my <span>life</span>..</p>
            
        </div>
    </div>
        
    </div>
    
</div>
    
    {% endblock %}