{% include "includs/secondBase.html.twig" %} 
{% block title %}{% endblock %}
{% block body %}
<div class="bgrff">
    <div class="bg">
        <div class="flex">

            <div>
                
                <a href="{{ path('index_home')}}" class="linkk">Home</a>
            </div>
            
            
            <div class="firstText">
                <h1 class="firstTitl">Advice: 3</h1>
                <p class="firstPa">
                    Enjoy the <span>last</span> year of <span>being</span> a teenager.<br/>
                    <span>Life</span>  doesn’t <span>necessarily</span>  get worse<br/> and you’re 
                    not <span>going</span>  downhill <br/>after your teen years
                    (it <span>actually</span>  just keeps <span>getting</span>  better as you grow),<br/>
                    but it <span>will</span> be nice to be <span>able</span> to look<br/> back at your
                    19th year and smile knowing <br/>that you <span>took</span>  every
                    opportunity to enjoy your youth.
                </p>
            </div>
        </div>

</div>


</div>

{% endblock %}